[submodule "workloads/memcached-ycsb"]
	path = workloads/memcached-ycsb
	url = https://github.com/SlugLab/YCSB/
[submodule "workloads/memcached"]
	path = workloads/memcached
	url = https://github.com/memcached/memcached
[submodule "workloads/gapbs"]
	path = workloads/gapbs
	url = https://github.com/victoryang00/gapbs
[submodule "script/perfmon"]
	path = script/perfmon
	url = https://github.com/intel/perfmon
[submodule "workloads/vectordb"]
	path = workloads/vectordb
	url = https://github.com/jina-ai/vectordb
[submodule "lib/bpftime"]
	path = lib/bpftime
	url = https://github.com/victoryang00/bpftime
[submodule "workloads/llama.cpp"]
	path = workloads/llama.cpp
	url = https://github.com/ggml-org/llama.cpp
[submodule "workloads/vsag"]
	path = workloads/vsag
	url = https://github.com/antgroup/vsag
[submodule "workloads/ann-benchmarks"]
	path = workloads/ann-benchmarks
	url = https://github.com/erikbern/ann-benchmarks
[submodule "workloads/YCSB"]
	path = workloads/YCSB
	url = https://github.com/brianfrankcooper/YCSB/
